@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

/* Global styles */
html {
  font-family: 'helvetica neue', sans-serif;
}

.App {
  padding: 1em;
}

/* Header styles */
header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Playfair Display SC';
  font-size: 64px;
  text-align: center;
}

label {
  display: inline-block;
  width: 100px;
}

/* Table styles */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

thead th,
tfoot th {
  font-family: 'Rock Salt';
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

/* Form input styles */
input[type=text],
input[type=url] {
  width: 80%;
}

/* Mobile-specific styles */
@media (max-width: 600px) {
  h1 {
    font-size: 40px; /* Decrease font size for smaller screens */
  }

  label {
    width: 80px; /* Adjust label width for smaller screens */
  }

  input[type=text],
  input[type=url] {
    width: 100%; /* Make inputs full width on mobile */
  }

  /* Add any other mobile-specific style adjustments here */
}

